.overlay {
  display: flex;
  position: fixed;
  z-index: 1200;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
